<!doctype html>
<html lang="ru">
  <head>
    @@include("src/html/base/head.html")
    <title>semprogroup-test</title>
  </head>
  <body class="page-body">
    <div style="display: none">
      @@if (path === 'public') { @@include("public/assets/img/sprite/sprite_auto.svg") } @@if (path
      === 'build') { @@include("build/assets/img/sprite/sprite_auto.svg") }
    </div>

    <div class="wrapper">
      @@include("src/html/base/header.html")

      <main class="page-main">
        <h1 class="visually-hidden">semprogroup-test</h1>

        <section class="promo">
          <h2 class="visually-hidden">promo</h2>

          <div class="promo__img-box">
            <picture>
              <source
                type="image/webp"
                srcset="
                  ./assets/img/content/promo/promo-img.webp    1x,
                  ./assets/img/content/promo/promo-img@2x.webp 2x
                "
              />

              <img
                src="./assets/img/content/promo/promo-img.jpg"
                srcset="./assets/img/content/promo/promo-img@2x.png 2x"
                alt="promo-img"
              />
            </picture>
          </div>

          <div class="promo__info-box">
            <span class="promo__description">
              Дом бизнес-класса<br> для ценителей роскоши
            </span>

            <div class="promo__title">
              <svg
                width="719"
                height="114"
                viewBox="0 0 719 114"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <use xlink:href="#logo-2"></use>
              </svg>
            </div>
          </div>
        </section>

        <section class="about">
          <div class="about__wrapper">
            <div class="about__block">
              <div class="about__img-box about__box">
                <h2 class="about__title">О проекте</h2>

                <picture>
                  <source
                    type="image/webp"
                    srcset="
                      ./assets/img/content/about/about-img.webp    1x,
                      ./assets/img/content/about/about-img@2x.webp 2x
                    "
                  />

                  <img
                    src="./assets/img/content/about/about-img.jpg"
                    srcset="./assets/img/content/about/about-img@2x.png 2x"
                    alt="about-img"
                  />
                </picture>

                <div class="about__logo">
                  <svg
                    width="49"
                    height="68"
                    viewBox="0 0 49 68"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <use xlink:href="#logo-3"></use>
                  </svg>
                </div>
              </div>

              <div class="about__info-box about__box">
                <div class="about__info-title">
                  уютное и&nbsp;безопасное пространство для счастливой, <span class="accent-text">спокойной и&nbsp;размеренной жизни</span>
                </div>

                <div class="about__description">
                  <span class="accent-text">Квартиры от&nbsp;65&nbsp;до&nbsp;356 м<sup>2</sup>&nbsp;с чистовой отделкой,</span> балконами, лоджиями и&nbsp;террасами&nbsp;В собственной ЗАКРЫТОЙ охраняемой территории.
                </div>

                <div class="about__video-box">
                  <div class="about__video-title">
                    Видео о&nbsp;проекте
                    <span class="about__sup-text">1:25 минут</span>
                  </div>

                  <button class="about__video-btn">
                    <picture>
                      <source
                        type="image/webp"
                        srcset="
                          ./assets/img/content/about/video-img.webp    1x,
                          ./assets/img/content/about/video-img@2x.webp 2x
                        "
                      />

                      <img
                        src="./assets/img/content/about/video-img.jpg"
                        srcset="./assets/img/content/about/video-img@2x.png 2x"
                        alt="video-img"
                      />
                    </picture>
                    <div class="about__btn-inner">
                      <svg
                        width="10"
                        height="11"
                        viewBox="0 0 10 11"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <use xlink:href="#play"></use>
                      </svg>
                      play
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <div class="popup">
        <div class="popup__wrapper popup__wrapper--form">
          <h2 class="popup__title title">Заявка на&nbsp;звонок</h2>

          <div class="popup__server-error">
            Не&nbsp;удалось отправить заявку. Повторите попытку чуть позже.
          </div>

          <form class="popup__form" method="post" novalidate id="popup-form">
            <div class="input-box">
              <input id="input-name" type="text" name="name" />
              <label class="placeholder" for="input-name">Ваше имя</label>
              <span class="error-message">Заполните поле</span>
            </div>

            <div class="input-box">
              <input
                class="_phone"
                id="input-tel"
                type="tel"
                name="tel"
                placeholder="+7 921 123-45-67"
              />
              <label class="placeholder" for="input-tel">Телефон</label>
              <span class="error-message">Заполните поле</span>
            </div>

            <div class="input-box">
              <input class="_email" id="input-email" type="email" name="email" />
              <label class="placeholder" for="input-email">E-mail</label>
              <span class="error-message">Заполните поле</span>
            </div>

            <div class="input-box">
              <input id="input-company" type="text" name="company" />
              <label class="placeholder" for="input-company">Компания</label>
              <span class="error-message">Заполните поле</span>
            </div>

            <div class="input-box">
              <textarea id="input-prodject" name="prodject"></textarea>
              <label class="placeholder" for="input-prodject">Расскажите о вашем проекте</label>
              <span class="error-message">Заполните поле</span>
            </div>

            <button class="btn btn-submit g-recaptcha" type="submit">
              <svg width="24" height="24">
                <use xlink:href="#ic_process"></use>
              </svg>
              <span class="common">Оставить заявку</span>
              <span class="sanding">Подождите...</span>
            </button>
          </form>

          <div class="popup__description">
            Нажимая кнопку &laquo;Оставить заявку&raquo; вы&nbsp;принимаете
            <a class="perso-link" href="#">условия хранения и&nbsp;обработки персональных данных</a>
          </div>

          <button class="popup__close-btn" type="button" aria-label="закрыть">
            <svg width="24" height="24">
              <use xlink:href="#icon-close"></use>
            </svg>
          </button>
        </div>

        <div class="popup__wrapper popup__wrapper--success">
          <div class="popup__svg-box">
            <svg
              width="164"
              height="96"
              viewBox="0 0 164 96"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <use xlink:href="#ic_send-message"></use>
            </svg>
          </div>

          <h2 class="popup__title title">Сообщение отправлено</h2>

          <p class="popup__paragraph">
            Спасибо за&nbsp;обращение.<br />
            Наши специалисты ответят вам в&nbsp;ближайшее время
          </p>

          <button class="popup__close-btn" type="button" aria-label="закрыть">
            <svg width="24" height="24">
              <use xlink:href="#icon-close"></use>
            </svg>
          </button>
        </div>

        <div class="popup__wrapper popup__wrapper--perso">
          <h2 class="popup__title title">Согласие на&nbsp;обработку персональных данных</h2>

          <p class="popup__paragraph">
            Я&nbsp;даю свое согласие ООО &laquo;Расчетные системы&raquo; (далее&nbsp;&mdash; Сервис)
            на&nbsp;обработку моих персональных данных, предоставленных мной Сервису в&nbsp;заявке
            на&nbsp;сайте Сервиса, с&nbsp;использованием средств автоматизации и&nbsp;без
            использования таковых, включая сбор, запись, систематизацию, накопление, хранение,
            уточнение (обновление, изменение), извлечение, использование, передачу (предоставление,
            доступ), блокирование, удаление, уничтожение персональных данных и&nbsp;иные действия,
            предусмотренные Федеральным законом от&nbsp;27.07.2006 &#8470;&nbsp;152-ФЗ
            &laquo;О&nbsp;персональных данных&raquo; в&nbsp;целях осуществления связи со&nbsp;мной
            для предоставления информации об&nbsp;услугах Сервиса.
          </p>

          <p class="popup__paragraph">
            Предоставленные Сервису через заявку персональные данные подлежат уничтожению
            по&nbsp;достижению указанных целей обработки или в&nbsp;случае утраты необходимости
            в&nbsp;достижении этих целей.
          </p>

          <p class="popup__paragraph">
            Я&nbsp;понимаю и&nbsp;соглашаюсь с&nbsp;тем, что для прекращения использования моих
            персональных данных, мне необходимо обратиться к&nbsp;Сервису для оформления отзыва
            согласия на&nbsp;обработку моих персональных данных.
          </p>

          <button class="popup__back-btn back-btn" type="button" aria-label="назад">
            <svg width="24" height="24">
              <use xlink:href="#icon_back"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Gooogle reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LeuUcsoAAAAALIjo1cUSFVp8Q39WjFbHzhobIoN"></script>

    <script src="./assets/js/vendor.js" type="module"></script>
    <script src="./assets/js/main.js" type="module"></script>

    <!-- Yandex.Metrika counter -->
    <noscript>
      <div>
        <img
          src="https://mc.yandex.ru/watch/95364254"
          style="position: absolute; left: -9999px"
          alt=""
        />
      </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
