.about {
  padding-bottom: 60px;
}

.about__title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  color: $color-blue;
  margin: 19px 0 25px;
}

.about__block {
  display: flex;
  justify-content: space-between;
}

.about__box {
  width: 41.7%;
}

.about__img-box {
  position: relative;
}

.about__logo {
  background-color: $color-blue;
  top: 154px;
  right: -100px;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__info-box {
  padding-top: 123px;
  padding-right: 110px;

  &::before {
    content: "";
    width: 49px;
    height: 9px;
    display: block;
    background-color: $color-blue;
    margin-bottom: 50px;
  }
}

.about__info-title {
  font-size: 26px;
  text-transform: uppercase;
  line-height: 139%;
  margin-bottom: 100px;
}

.about__description {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 160%;
  margin-bottom: 97px;
}

.about__video-box {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    height: 1px;
    flex-grow: 1;
    background-color: $color-grey;
    margin: 0 15px;
  }
}

.about__video-title {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  order: -1;
}

.about__sup-text {
  display: block;
  position: absolute;
  text-transform: none;
  opacity: 0.5;
}

.about__video-btn {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  position: relative;
  margin-right: 3px;
}

.about__btn-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $color-default-white;
  text-transform: uppercase;
  width: 110px;
  height: 110px;
  border: 1px solid $color-default-white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  svg {
    margin-right: 5px;
    display: block;
  }
}
