.promo {
  @include viewport--768-1023 {
    height: calc(100vh - 123px);
    padding: 0 40px;
  }

  @include viewport--767 {
    min-height: calc(100% - 81px);
    padding: 0 20px;
  }

  height: calc(100vh - 100px);
}

.promo__img-box {
  @include viewport--1770 {
    margin-bottom: 49px;
  }

  @include viewport--1024-1280 {
    height: calc(100% - 200px);
    margin-bottom: 30px;
  }

  @include viewport--768-1023 {
    height: calc(100% - 320px);
  }

  @include viewport--767 {
    height: calc(100% - 150px);
    margin-bottom: 21px;
  }

  height: calc(100% - 243px);

  margin-bottom: 40px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.promo__info-box {
  @include viewport--768-1023 {
    flex-direction: column;
    align-items: flex-start;
  }

  @include viewport--767 {
    flex-direction: column;
    align-items: flex-start;
  }
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.promo__description {
  @include viewport--1770 {
    max-width: 416px;
    margin-top: 63px;
    margin-bottom: 0;

    font-size: 31px;
  }

  @include viewport--1024-1280 {
    margin-bottom: 0;
    margin-left: 20px;

    font-size: 19px;
  }

  @include viewport--768-1023 {
    margin-bottom: 43px;
  }

  @include viewport--767 {
    margin-bottom: 20px;

    font-size: 13px;
    line-height: 150%;
  }

  max-width: 400px;
  margin-bottom: 5px;

  color: $color-blue;
  font-size: 26px;
  line-height: 139%;
  text-transform: uppercase;
}

.promo__title {
  svg {
    @include viewport--1770 {
      width: 865px;
      height: 138px;
      margin-bottom: 6px;
    }

    @include viewport--1024-1280 {
      width: 555px;
      height: 88px;
    }

    @include viewport--768-1023 {
      width: 689px;
      height: 110px;
    }

    @include viewport--767 {
      width: 320px;
      height: 51px;
    }

    transform: translateX(0.2%);
  }
}
